AWS_ACCESS_KEY=<dummy-access-key-id>
AWS_SECRET_KEY=<dummy-secret-access-key>

TF_VAR_aws_region=ap-south-1
TF_VAR_aws_account_id=<dummy-account-id>
TF_VAR_ip_prefix_2_octets=10.65
TF_VAR_runner_image_id=<ami-id>

GITHUB_TOKEN=<dummy-github-token>
TF_VAR_runner_manager_github_token=${GITHUB_TOKEN}
TF_VAR_runner_manager_aws_region=${TF_VAR_aws_region}
